In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv('new_cat_processed_data.csv')
df

,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
0,Budhanilkantha,Kathmandu,90000000,6,3,2.0,10,West,2073.0,5476.000,20.0,Blacktopped,98568.000,16
1,Budhanilkantha,Kathmandu,80000000,5,3,2.0,9,East,2073.0,7187.250,20.0,Blacktopped,7187.250,15
2,Dhapasi,Kathmandu,70000000,5,3,2.0,12,East,2071.0,5818.250,20.0,Blacktopped,55102.250,16
3,Budhanilkantha,Kathmandu,50000000,5,4,2.0,9,East,2073.0,20963.000,20.0,Blacktopped,20963.000,16
4,Other,Kathmandu,32500000,6,4,2.5,1,South East,2065.0,1369.000,12.0,Concrete,819346.500,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1602,Other,Others,6400000,3,1,1.0,0,North,2074.0,133.350,15.0,Soil Stabilized,133.350,4
1603,Other,Others,2200000,0,0,3.0,0,North,2074.0,23137.000,20.0,Gravelled,23137.000,0
1604,Other,Others,25000000,10,4,3.0,0,East,2074.0,155.575,20.0,Gravelled,155.575,6
1605,Other,Others,10000000,0,0,3.0,0,East,2074.0,21305.250,25.0,None,21305.250,0
1606,Other,Others,350000,0,0,3.0,0,North,2074.0,5476.000,16.0,None,5476.000,0

In [3]:
df.Price.describe()

count    1.607000e+03
mean     1.871270e+07
std      1.839494e+07
min      8.000000e+04
25%      2.850000e+06
50%      1.500000e+07
75%      2.850000e+07
max      9.600000e+07
Name: Price, dtype: float64

In [4]:
df.Price.median()

15000000.0

In [5]:
df.columns

Index(['Address', 'City', 'Price', 'Bedroom', 'Bathroom', 'Floors', 'Parking',
       'Face', 'Year', 'Area', 'Road Width', 'Road Type', 'Build Area',
       'Amenities'],
      dtype='object')

In [6]:
df.Address.unique()

array(['Budhanilkantha', 'Dhapasi', 'Other', 'Sitapaila', 'Kapan',
       'Hattigauda', 'Tokha', 'Baluwatar', 'Jorpati', 'Golfutar',
       'Chabahil', 'Bhangal', 'Samakhusi', 'Basundhara', 'Imadol',
       'Bhaisepati'], dtype=object)

In [7]:
df.City.unique()

array(['Kathmandu', 'Pokhara', 'Bhaktapur', 'Lalitpur', 'Chitwan',
       'Dharan', 'Makwanpur', 'Nawalparasi', 'Others'], dtype=object)

In [8]:
df.Face.unique()

array(['West', 'East', 'South East', 'North West', 'South', 'North',
       'North East', 'South West'], dtype=object)

In [9]:
df.Year.unique()

array([2073., 2071., 2065., 2075., 2074., 2076., 2056., 2070., 2069.,
       2018., 2067., 2068., 2077., 2017., 2019., 2000., 2015., 2020.,
       2072., 2016., 2066., 2014., 2050., 2001., 2064., 2010., 2005.,
       2060., 2049., 2009., 2011., 2012., 2007., 2042., 2025., 2059.,
       2058., 2013., 2006., 2063., 2003.])

In [10]:
df['Road Type'].unique()

array([' Blacktopped', ' Concrete', ' Paved', ' Gravelled', 'None',
       ' Soil Stabilized', ' Alley'], dtype=object)

In [11]:
df["Road Type"] = df["Road Type"].str.strip()
df = df.rename(columns={"Road Type": "Road_Type"})
df = df.rename(columns={"Build Area": "Build_Area"})
df = df.rename(columns={"Road Width": "Road_Width"})

In [12]:
df['Road_Type'].unique()

array(['Blacktopped', 'Concrete', 'Paved', 'Gravelled', 'None',
       'Soil Stabilized', 'Alley'], dtype=object)

In [13]:
df

,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road_Width,Road_Type,Build_Area,Amenities
0,Budhanilkantha,Kathmandu,90000000,6,3,2.0,10,West,2073.0,5476.000,20.0,Blacktopped,98568.000,16
1,Budhanilkantha,Kathmandu,80000000,5,3,2.0,9,East,2073.0,7187.250,20.0,Blacktopped,7187.250,15
2,Dhapasi,Kathmandu,70000000,5,3,2.0,12,East,2071.0,5818.250,20.0,Blacktopped,55102.250,16
3,Budhanilkantha,Kathmandu,50000000,5,4,2.0,9,East,2073.0,20963.000,20.0,Blacktopped,20963.000,16
4,Other,Kathmandu,32500000,6,4,2.5,1,South East,2065.0,1369.000,12.0,Concrete,819346.500,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1602,Other,Others,6400000,3,1,1.0,0,North,2074.0,133.350,15.0,Soil Stabilized,133.350,4
1603,Other,Others,2200000,0,0,3.0,0,North,2074.0,23137.000,20.0,Gravelled,23137.000,0
1604,Other,Others,25000000,10,4,3.0,0,East,2074.0,155.575,20.0,Gravelled,155.575,6
1605,Other,Others,10000000,0,0,3.0,0,East,2074.0,21305.250,25.0,None,21305.250,0
1606,Other,Others,350000,0,0,3.0,0,North,2074.0,5476.000,16.0,None,5476.000,0

In [14]:
y = df.Price
y.head(3)

0    90000000
1    80000000
2    70000000
Name: Price, dtype: int64

In [15]:
X = df.drop(['Price'],axis='columns')
X.head(3)

,Address,City,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road_Width,Road_Type,Build_Area,Amenities
0,Budhanilkantha,Kathmandu,6,3,2.0,10,West,2073.0,5476.00,20.0,Blacktopped,98568.00,16
1,Budhanilkantha,Kathmandu,5,3,2.0,9,East,2073.0,7187.25,20.0,Blacktopped,7187.25,15
2,Dhapasi,Kathmandu,5,3,2.0,12,East,2071.0,5818.25,20.0,Blacktopped,55102.25,16

In [16]:
print(X.shape, y.shape)

(1607, 13) (1607,)

In [17]:
df.dtypes

Address        object
City           object
Price           int64
Bedroom         int64
Bathroom        int64
Floors        float64
Parking         int64
Face           object
Year          float64
Area          float64
Road_Width    float64
Road_Type      object
Build_Area    float64
Amenities       int64
dtype: object

In [18]:
# determine categorical and numerical features
numerical_ix = X.select_dtypes(include=['int64', 'float64']).columns
categorical_ix = X.select_dtypes(include=['object', 'bool']).columns

In [19]:
numerical_ix

Index(['Bedroom', 'Bathroom', 'Floors', 'Parking', 'Year', 'Area',
       'Road_Width', 'Build_Area', 'Amenities'],
      dtype='object')

In [20]:
categorical_ix

Index(['Address', 'City', 'Face', 'Road_Type'], dtype='object')

In [21]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
# define the data preparation for the columns
t = [('cat', OneHotEncoder(handle_unknown = 'ignore'), categorical_ix), ('num', MinMaxScaler(), numerical_ix)]
col_transform = ColumnTransformer(transformers=t)
col_transform

ColumnTransformer(transformers=[('cat', OneHotEncoder(handle_unknown='ignore'),
                                 Index(['Address', 'City', 'Face', 'Road_Type'], dtype='object')),
                                ('num', MinMaxScaler(),
                                 Index(['Bedroom', 'Bathroom', 'Floors', 'Parking', 'Year', 'Area',
       'Road_Width', 'Build_Area', 'Amenities'],
      dtype='object'))])

In [22]:
from sklearn.ensemble import RandomForestRegressor
# define the model
# rf_model = RandomForestRegressor(bootstrap = True, max_depth= 10, max_features = 'auto',
#  min_samples_leaf = 4,
#  min_samples_split = 5,
#  n_estimators = 200)
rf_model = RandomForestRegressor(bootstrap = False, max_depth= None, max_features = 'sqrt',
 min_samples_leaf = 2,
 min_samples_split = 5,
 n_estimators = 1400)
# rf_model = RandomForestRegressor(bootstrap = True, max_depth= None, max_features = 'auto',
#  min_samples_leaf = 2,
#  min_samples_split = 2,
#  n_estimators = 1800)
# define the data preparation and modeling pipeline
from sklearn.pipeline import Pipeline
pipeline = Pipeline(steps=[('prep',col_transform), ('m', rf_model)])

In [23]:
from numpy import std
from numpy import absolute
from statistics import mean
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
# define the model cross-validation configuration
cv = KFold(n_splits=10, shuffle=True, random_state=1)
# evaluate the pipeline using cross validation and calculate MAE
scores = cross_val_score(pipeline, X, y, scoring='neg_mean_absolute_error', cv=cv,
n_jobs=-1)
# convert MAE scores to positive values
scores = absolute(scores)
# summarize the model performance
print('MAE: %.3f (%.3f)' % (mean(scores), std(scores)))

MAE: 6102098.954 (620852.178)

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [25]:
X_train.shape

(1285, 13)

In [26]:
X_train

,Address,City,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road_Width,Road_Type,Build_Area,Amenities
989,Samakhusi,Kathmandu,0,0,3.0,0,West,2074.0,2053.500,10.0,Gravelled,2053.500,0
1564,Other,Others,0,0,0.0,0,South,2074.0,4920.000,32.0,Blacktopped,4920.000,0
935,Other,Kathmandu,0,0,3.0,0,North,2074.0,2395.750,20.0,None,2395.750,0
1129,Other,Kathmandu,0,0,3.0,0,East,2074.0,6383.000,16.0,None,6383.000,0
723,Budhanilkantha,Kathmandu,0,0,3.0,0,North,2074.0,4791.500,13.0,Soil Stabilized,4791.500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1393,Imadol,Lalitpur,2,1,1.0,0,East,2074.0,11964.750,13.0,Gravelled,11964.750,0
1344,Bhaisepati,Lalitpur,0,0,3.0,0,North East,2074.0,9343.500,16.0,Blacktopped,9343.500,3
527,Other,Kathmandu,5,6,3.0,3,East,2076.0,2224.625,15.0,Blacktopped,2224.625,10
1149,Other,Pokhara,0,0,3.0,0,South West,2074.0,7187.250,30.0,Blacktopped,7187.250,0
1289,Imadol,Lalitpur,2,1,1.5,1,West,2076.0,1026.750,13.0,Gravelled,1026.750,8

In [27]:
pipeline.fit(X_train,y_train)
# pipeline.fit(X,y)
pipeline

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  Index(['Address', 'City', 'Face', 'Road_Type'], dtype='object')),
                                                 ('num', MinMaxScaler(),
                                                  Index(['Bedroom', 'Bathroom', 'Floors', 'Parking', 'Year', 'Area',
       'Road_Width', 'Build_Area', 'Amenities'],
      dtype='object'))])),
                ('m',
                 RandomForestRegressor(bootstrap=False, max_features='sqrt',
                                       min_samples_leaf=2, min_samples_split=5,
                                       n_estimators=1400))])

In [28]:
print("Training accuracy:" ,pipeline.score(X_train,y_train))

Training accuracy: 0.9166902650124765

In [29]:
prediction = pipeline.predict(X_test)

In [30]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.metrics import r2_score
print("MAE",mean_absolute_error(y_test,prediction))
print("RMSE",np.sqrt(mean_squared_error(y_test,prediction)))
r2 = r2_score(y_test,prediction)
print("R2 score(COD)",r2)

MAE 5570224.751107378
RMSE 7609936.343500632
R2 score(COD) 0.8033714138917623

In [31]:
from sklearn.ensemble import GradientBoostingRegressor
# Fit the Gradient Boosting Regressor with the best parameters
best_gb = GradientBoostingRegressor(learning_rate=0.039122914019804195,
                                max_depth=5,
                                max_features='log2',
                                min_samples_leaf=2,
                                min_samples_split=5,
                                n_estimators=575)
pipeline2 = Pipeline(steps=[('prep',col_transform), ('m', best_gb)])

In [32]:
pipeline2.fit(X_train,y_train)
pipeline2

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  Index(['Address', 'City', 'Face', 'Road_Type'], dtype='object')),
                                                 ('num', MinMaxScaler(),
                                                  Index(['Bedroom', 'Bathroom', 'Floors', 'Parking', 'Year', 'Area',
       'Road_Width', 'Build_Area', 'Amenities'],
      dtype='object'))])),
                ('m',
                 GradientBoostingRegressor(learning_rate=0.039122914019804195,
                                           max_depth=5, max_features='log2',
                                           min_samples_leaf=2,
                                           min_samples_split=5,
                                           n_estimators=575))])

In [33]:
print("Training accuracy:" ,pipeline2.score(X_train,y_train))

Training accuracy: 0.9002092838115453

In [34]:
prediction = pipeline2.predict(X_test)

In [35]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, prediction)
# rmse = mse**.5
print("MSE", mse)
from sklearn.metrics import mean_absolute_error
print("MAE",mean_absolute_error(y_test,prediction))
print("RMSE",np.sqrt(mean_squared_error(y_test,prediction)))
print("RMSLE",np.log(np.sqrt(mean_squared_error(y_test,prediction))))
from sklearn.metrics import r2_score
r2 = r2_score(y_test,prediction)
print("R2 score(COD)",r2)

MSE 58853171889075.23
MAE 5741032.187346999
RMSE 7671582.098177352
RMSLE 15.85303342302132
R2 score(COD) 0.8001728554371716

In [36]:
# import pickle
# pickle.dump(pipeline, open('pipeline.pkl', 'wb'))

In [37]:
pd.options.display.float_format = '{:.2f}'.format
print(df.Price.describe())

count       1607.00
mean    18712699.85
std     18394937.35
min        80000.00
25%      2850000.00
50%     15000000.00
75%     28500000.00
max     96000000.00
Name: Price, dtype: float64

In [38]:
print(df.Price.describe())

count       1607.00
mean    18712699.85
std     18394937.35
min        80000.00
25%      2850000.00
50%     15000000.00
75%     28500000.00
max     96000000.00
Name: Price, dtype: float64